﻿body{
    background-image:url(../Images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family:CSChatThai;
}

.middle-left{
    margin-top:25%;
    float:left;
    margin-left:-15px;
}

.middle-right{
    margin-top:20%;
    float:right;
    margin-right:-15px;
}

.content-center{
    margin:auto;
    width:35%;
    height:auto;
    padding:20px;
}

.content-center2{
    
    width:60%;
    height:auto;
    padding:20px;

}

.marginNormal{
    margin:5px;
    font-size:15px;
}

@font-face {
    font-family: CSChatThai;
    src: url(../fonts/CSChatThai.ttf);
}
