﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="headContent" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/main.css" />
    <link rel="stylesheet" href="Content/W3CSS.css" />
    <%--  --%>
    <script type="text/javascript" src="Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script> 
    <script type="text/javascript" src="Scripts/moment.js"></script>   
     <script type="text/javascript" src="Scripts/moment-locales.js"></script>   
    
</head>
<body>
    <form id="form1" class="w3-container" runat="server">
           <asp:ScriptManager ID="scriptManager1" runat="server"></asp:ScriptManager>
        <div class="container container-fluid">
            <asp:ContentPlaceHolder id="bodyContent" runat="server">
            
            </asp:ContentPlaceHolder>
        </div>
    </form>
    

</body>
</html>
